<div class="container">
	<form action="/result" method="post">
		<input type="text" name="installment" placeholder= "Annual Contribution"><br>
		<input type="text" name="rate" placeholder= "Annual Rate of Return"><br><input type="text" name="years" placeholder= "Years Invested"><br>
		<input type="submit" value="Calculate">
	</form>
</div>
