<html>

<body>
	<header>
		<span class="brand"><a href="/">401(k) Calculator</a></span>
		<nav>
			<ul>
				<li><a href="http://money.cnn.com/data/etf/">ETFs</a></li>
				<li><a href="http://money.cnn.com/data/funds/">Mutual Funds</a></li>
				<li><a href="http://www.lipperleaders.com/">Lipper Leaders</a></li>
			</ul>
		</nav>
	</header>

	<div class="container">

		<p>The Portfolio will be worth <br><strong><%= @result %></strong></p>

		<button type="button"><a href="/">Back</a></button>
	</div>

</body>

</html>